<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include 'header.html' %}
    <main>
        {% block content %}
        <div class="text-center text-2xl font-bold py-8">
            <h1>Welcome to the Home Page</h1>
            <p>This webpage created for the purpose of Django-Form Learning.</p>
        </div>
        {% endblock %}
    </main>
    {% include 'footer.html' %}
</body>
</html>